<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>画像ファイル一覧</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body>
    <% locals[:files].each do |file| %>
    <div class="img_container">
      <p><a href="/images<%= file %>"><%= file %></a></p>
      <img src="/images<%= file %>">
    </div>
    <% end %>
  </body>
</html>
